/* app css stylesheet */

.menu {
  list-style: none;
  margin-bottom: 2em;
  margin-left: 0;
  padding: 0 0 0em;
}

.top-border  { border-top: 0.1em solid black; }
.center {  text-align: center; }
.right { float: right; }

/*
.menu:before { content: "["; }
.menu:after { content: "]"; }
*/

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.error {color: #cc0000; font-weight: bold;}

.error-msg {
    color: #cc0000;
    font-weight: bold;
    display: block;
    padding: 0.3125em 0.625em 0.3125em 1.75em;
    margin: 0.625em 0;
    background: url(../img/error.png) no-repeat left center;
}

.boxPadding {padding:1em}
.resultsWrapper {background-color: #eeeeee;}
.resultsBox {
    background-color: #eeeeee;
    width: 100%;
    float: left;
    margin-right: -300px;
}
.resultsLeft {
    float: left;
    margin-right: 300px;
}
.resultsRight {
    float: right;
    width:300px;
}
.resultsRight table {width:100%}
.resultsRight th {
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(252, 253, 249)), to(rgb(235, 245, 214)));
    background-color: #ffffff;
    padding: 0.9375em;
    text-align: center;
    color: #333333;
    font-size: 0.875em;
    font-weight: normal;
    border-bottom: dotted 1px #dddddd;
}
.resultsRight td {
    background-color: #ffffff;
    padding: 0.9375em;
    text-align: center;
    color: #333333;
    font-size: 0.875em;
    font-weight: normal;
    border-bottom: dotted 1px #dddddd;
}

.inputLeft {
    max-width: 400px;
    float: left;
    width: 47%;
}
.inputRight {
    float: right;
    width: 47%;
}

.grayBox {
    background-color: #eeeeee;
    width: 100%;
}

/*#feedbackLink {background-color: #111111;}*/

.stepLinks {width:580px}
.stepLinks td {text-align: center}

h1 {font-weight: normal;
    color: #666;
    font-size: 1.75em;
}
h2 {font-weight: normal;
    color: #ff3300;
    font-size: 1.25em;
}

.inlineLabel {display: inline-block}

/* see http://getbootstrap.com/2.3.2/scaffolding.html#responsive
note that the following styles correspond to the breakpoints set in bootstrap-responsive.css*/

/* Large desktop */
@media (min-width: 1200px) {}

/* Portrait tablet and greater */
@media (min-width: 768px) {
    h1, h2, h3, h4, h5, h6 {
        line-height: 1.4;
    }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    h1 {font-size: 1.5em;}
    h2 {font-size: 1.25em;}
}

/* two -> 1 column */
@media (max-width: 656px) {
    .resultsBox {
        float: none;
        margin-right: 0px;
    }
    .resultsLeft {
        float: none;
        margin-right: 0px;
    }
    .resultsRight {
        float: none;
        width:100%;
    }
    .inputLeft, .inputRight {
        float: none;
        width: 100%;
    }
}


/* Landscape phones and down */
@media (max-width: 480px) {
    form > div {
        margin: 0 0 0 0;
    }
    form > div > label,
    legend {
        width: 100%;
        float: none;
        margin: 0 0 5px 0;
    }
    form > div > div,
    form > div > fieldset > div {
        width: 100%;
        float: none;
    }
    input[type=text],
    input[type=email],
    input[type=url],
    input[type=password],
    textarea,
    select {
        width: 90%;
    }
}

