<div class="hidden-phone">
    <div ng-include="'partials/progress.html'" onload="step='2'"></div>
</div>
<h2>Check Receipts</h2>
<p>This tool is designed to provide additional informatin regarding the IRS's use of form 1099-K in assessing businesses.  Using your applicable tax return and Form 1099-K, please enter your business's information in the following fields.  <a href="#/privacy">Privacy Policy</a></p> 
    <div class="resultsWrapper clearfix">
        <div class="inputBox">
            <div class="inputLeft">
                <div class="boxPadding">
            <form name="checkForm">  <!-- form is present to access errors -->
                <h2>Enter your information</h2>
	<div>
	<label for="mcc">3-digit Merchant Category Code (MCC)</label>
	</div>
	<div>
	<input type="text" name="mcc" ng-model="checkInfo.mcc" ng-pattern="ptnMcc" maxlength="3" required />
	<span class="error" ng-show="checkForm.mcc.$error.required">*</span>
	<span class="error" ng-show="checkForm.mcc.$error.pattern">Enter a 3-digit MCC code</span>
	</div>

	<div>
	<label for="zip">5-digit ZIP code of business location</label>
	</div>
	<div>
	<input type="text" name="zip" ng-model="checkInfo.zip" ng-pattern="ptnZip" maxlength="5" required />
	<span class="error" ng-show="checkForm.zip.$error.required">*</span>
	<span class="error" ng-show="checkForm.zip.$error.pattern">Enter a 5-digit ZIP code</span> 
	</div>

	<div>
	<label for="receiptsCard">1099-K card receipts </label>
	</div>
	<div>
	<input type="text" name="receiptsCard" ng-model="checkInfo.receiptsCard" ng-pattern="ptnDollars" required />
	<span class="error" ng-show="checkForm.receiptsCard.$error.required">*</span>
    <span class="error" ng-show="checkForm.receiptsCard.$error.pattern">Enter a dollar amount</span>
    </div>

    <div>
        <label for="transactionCount">Transaction Count </label>
    </div>
    <div>
        <input type="text" name="transactionCount" ng-model="checkInfo.transactionCount" ng-pattern="ptnNumber" required />
        <span class="error" ng-show="checkForm.transactionCount.$error.required">*</span>
        <span class="error" ng-show="checkForm.transactionCount.$error.pattern">Enter the number of transactions</span>
    </div>

	<div>
	<label for="receiptsTotal">Total Receipts </label>
	</div>
	<div>
	<input type="text" name="receiptsTotal" ng-model="checkInfo.receiptsTotal" ng-pattern="ptnDollars" required />
	<span class="error" ng-show="checkForm.receiptsTotal.$error.required">*</span>
    <span class="error" ng-show="checkForm.receiptsTotal.$error.pattern">Enter a dollar amount</span>
	</div>
                <div class="btn-group">
                    <button type="submit" class="btn btn-primary" ng-click="submitRequest()" ng-disabled="!checkForm.$valid" >
                        Calculate >
                    </button>
                </div>
            </form>
            </div>
        </div>
     </div>

        <div class="inputRight">
            <div class="boxPadding">
                <h2>Notes</h2>
                <p>If you have more than one Form 1099-K for your business, add up the gross receipts and transation counts before you enter the information:
<ul><li>Enter your business's MCC and ZIP code.  If your business has multiple MCC's, use the category code with the highest gross receipts.</li>
    <li>Enter total payment card receits from Form 1099-K(s)</li>
    <li>Enter total transaction count from 1099K(s)</li>
    <li>Enter gross receipts for the business - remember to include all sources of income, including non-card sources such as cash and checks.</li>
</ul></p>
            </div>
        </div>

    </div>


<div ng-if="false">
debugging info: 
<b>error {{checkForm.$error | json }}</b><br/>
<pre>checkInfo {{checkInfo | json }}</pre>
</div>