<div class="hidden-phone">
    <div ng-include="'partials/progress.html'" onload="step='1'"></div>
</div>
<h2>User Verification</h2>
<p>Use of this tool is limited to return preparers with an invitation from AICPA to assis in testing, and a valid Preparer Tax Identification Number (PTIN) issued prior to September 10, 2013.
</p>

<p class="error-msg" ng-show="userInfo.error">{{userInfo.error}}</p>

<form name="loginForm">  <!-- form is present to access errors -->
<div>
    <div>
        <label for="code">Invitation Code</label>
    </div>
    <div>
        <input type="text" name="code" ng-model="userInfo.code" required />
        <span class="error" ng-show="loginForm.code.$error.required">Required</span>
    </div>

    <div>
	<label for="ptin"><abbr title="Preparer Tax Identification Number">PTIN</abbr></label>
	</div>
	<div>
	<input type="text" name="ptin" ng-model="userInfo.ptin" ng-pattern="ptnPTIN" ng-maxlength="9" popover-trigger="focus" popover="The letter P, followed by 8 digits" required />   
	<span class="error" ng-show="loginForm.ptin.$error.required">Required</span>
	<span class="error" ng-show="loginForm.ptin.$error.pattern">Enter a valid PTIN, starting with "P"</span>
	</div>

    <div>
        <input type="checkbox" name="acknowledge"  ng-model="userInfo.acknowledge" required />
        <label for="acknowledge">By checking here, you acknowledge that your <abbr title="Preparer Tax Identification Number">PTIN</abbr> will be used to access this pilot for testing and verification purposes. </label>
    </div>

</div>

<div class="btn-group">
<!--	<button type="button" class="btn btn-primary" onclick="javascript:location.href='http://irs.gov'" >
		< Return to IRS.GOV
	</button> -->
	<button type="submit" class="btn btn-primary" ng-click="logMeIn()" ng-disabled="!loginForm.$valid" >
		Continue >
	</button>
</div>

</form>

<div ng-if="false">
debugging info: 
<br/><b>ptin: {{userInfo.ptin}}</b> <br/><b>{{loginForm.ptin.$error | json }}</b>
<br/><b>email: {{userInfo.email}}</b> 
<br/><b>{{loginForm.email.$error | json }}</b> 
<br/><b>{{loginForm.$error | json }}</b> 
<pre>{{ userInfo | json }}</pre>
</div>
