<div class="hidden-phone">
    <div ng-include="'partials/progress.html'" onload="step='1'"></div>
</div>
<h2>User Verification</h2>
Use of this tool is currently limited to return preparers possessing a Preparer Tax Identification Number (PTIN).
<br/>
If you don't already have one, <a href="http://www.irs.gov/Tax-Professionals/PTIN-Top-FAQ-3">register for a PTIN</a> to use this tool. 
asdf
<form name="loginForm">  <!-- form is present to access errors -->
<div>
	<div>
	<label for="ptin"><abbr title="Preparer Tax Identification Number">PTIN</abbr></label>
	</div>
	<div>
	<input type="text" name="ptin" ng-model="userInfo.ptin" ng-pattern="ptnPTIN" ng-maxlength="9" popover-trigger="focus" popover="The letter P, followed by 8 digits" required />   
	<span class="error" ng-show="loginForm.ptin.$error.required">*</span>
	<span class="error" ng-show="loginForm.ptin.$error.pattern">Enter a valid PTIN, starting with "P"</span>
	</div>

	<div>
	<label for="email">Email Address</label>
	</div>
	<div><input name="email" type="email" ng-model="userInfo.email" required />  
	<span class="error" ng-show="loginForm.email.$error.required">*</span>
	<span class="error" ng-show="loginForm.email.$error.email">Enter a properly formatted email address.</span>
	</div>

</div>

<div class="btn-group">
	<button type="button" class="btn btn-primary" onclick="javascript:location.href='http://irs.gov'" >
		< Return to IRS.GOV
	</button>
	<button type="submit" class="btn btn-primary" ng-click="logMeIn()" ng-disabled="!loginForm.$valid" >
		Continue >
	</button>
</div>

</form>

<div ng-if="false">
debugging info: 
<br/><b>ptin: {{userInfo.ptin}}</b> <br/><b>{{loginForm.ptin.$error | json }}</b>
<br/><b>email: {{userInfo.email}}</b> 
<br/><b>{{loginForm.email.$error | json }}</b> 
<br/><b>{{loginForm.$error | json }}</b> 
<pre>{{ userInfo | json }}</pre>
</div>
