<div class="hidden-phone" ng-controller="ctlHelp">
     <center>
        <div class="row">
            <table class="stepLinks">
                <tr>
                    <td><a ng-click="helpLogin()" href="#" class="has-tip" data-reveal-id="help-placeholder" title="User Verification">User Verification</a></td>
                    <td><a ng-click="helpCheck()" href="#/check" class="has-tip" data-reveal-id="help-placeholder" title="Check Receipts">Check Receipts</a></td>
                    <td><a ng-click="helpCompare()" href="#/results" class="has-tip" data-reveal-id="help-placeholder" title="Compare results">Compare Results</a></td>
                </tr>
            </table>
        </div>
         <span ng-switch="step">
             <span ng-switch-when="1">
                <img src="img/tracker_step1of3.jpg" alt="step 1 of 3"/>
             </span>
             <span ng-switch-when="2">
                <img src="img/tracker_step2of3.jpg" alt="step 2 of 3"/>
             </span>
             <span ng-switch-when="3">
                <img src="img/tracker_step3of3.jpg" alt="step 3 of 3"/>
             </span>
         </span>
    </center>
</div>